<h1 class="page_header">SpaceX Mission Launch List</h1>
<mat-list *ngFor="let mission of missionData; let i = index;">
  <mat-list-item style="padding-top: 100px; padding-bottom: 100px; width: 80vw;">
      <img mat-list-avatar src='{{mission.links.mission_patch_small}}' style="width: 100px; height: 100px;"/>
      <div mat-line><h1>{{mission.mission_name}}</h1></div>
      <div mat-line><h4>{{mission.launch_year}}</h4></div>
      <div mat-line style="word-wrap: break-word; white-space: pre-wrap;">Details:<br/>{{mission.details}}
      </div>
  </mat-list-item>
</mat-list>
